name: Publish

# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages
on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.5.0
        with:
          node-version: '16'
      - run: npm ci
      - run: npm run verify
      - uses: codecov/codecov-action@v2.1.0
      - run: npm run build --if-present
      - name: create release
        env:
          GIT_AUTHOR_NAME: 'Ryan Gasparini'
          GIT_AUTHOR_EMAIL: 'ryan@rxgx.com'
          GIT_COMMITTER_NAME: 'Ryan Gasparini'
          GIT_COMMITTER_EMAIL: 'ryan@rxgx.com'
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
